<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cadastrar Contato</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cadastrar contato</h1>
        <div style="width: 70%;">
        <form method="post">
            <label>Nome:</label>
            <input type="text" name="nome">
            <br>
            <label>E-mail:</label>
            <input type="email" name="email">
            <br>
            <label>Telefone:</label>
            <input type="text" name="fone">
            <br>
            
            <h3>Endereço</h3>
            <label>Cidade/Estado:</label>
            <input type="text" name="cidade_estado">
            <br>
            <label>Bairro:</label>
            <input type="text" name="bairro">
            <br>
            <label>Rua:</label>
            <input type="text" name="rua">
            
            <br> <br>
            <input type="submit" value="Enviar" />
        </form>
        </div>
    </body>
</html>
